<?xml version="1.0"?>
<phpunit bootstrap="tests/bootstrap.php" cacheResult="false" colors="true">
	<testsuites>
		<testsuite name="OneClickContent Titles">
			<directory suffix="test.php">./tests</directory>
		</testsuite>
	</testsuites>
	<php>
		<const name="ABSPATH" value="." />
	</php>
</phpunit>
